{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "RegistryLogin",
      "Effect": "Allow",
      "Action": "ecr:GetAuthorizationToken",
      "Resource": "*"
    },
    {
      "Sid": "PullTheBatchImage",
      "Effect": "Allow",
      "Action": ["ecr:BatchCheckLayerAvailability", "ecr:GetDownloadUrlForLayer", "ecr:BatchGetImage"],
      "Resource": "arn:aws:ecr:${region}:${account_id}:repository/ecp-batch"
    },
    {
      "Sid": "OwnLogs",
      "Effect": "Allow",
      "Action": ["logs:CreateLogStream", "logs:PutLogEvents"],
      "Resource": "arn:aws:logs:${region}:${account_id}:log-group:/ecs/ecp-batch-pipeline:*"
    }
  ]
}
